.widgetContainer {
    background-color: #325d6e;
    padding: 30px;
}

.mainWrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.mainWrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .mainWrapper div {
        width: 100%;
    }
}